/* Hero Section */
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.hero-section {

    background: url('../images/home.jpg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 20px;
}

.hero-section-2 {
    background-color: #4CAF50;
    color: #333;
    padding: 50px;
    text-align: center;
    margin-bottom: 0px;
height: 50vh;
}
.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-section p {
    font-size: 1.2em;
}

/* Introduction Section */


.introduction p {
    font-size: 1.2em;
    line-height: 1.6;
}


/* Introduction Section */
.introduction {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}
